<!-- {% extends 'base.html' %}
{% block title %}modify_details{% endblock title %} 
{% block body %}

<h4>Name :-> {{nm}}</h4>
<h4>Aadhar no :-> {{ad}}</h4>
<section class="is-info is-fullheigh">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <form method="POST">
            
            <div class="field">
              <label class="label">New Customer Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="name" placeholder="Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">New Phone Number</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="phonenumber" placeholder="phonenumber">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">New Aadhar card Number</label>
                <p class="control has-icons-left">
                  <input class="input" type="text" name="aadharnumber" placeholder="Aadhar number">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                    Modify
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %} -->
